# SupabaseのDB URLを設定
# edge環境ではprisma://から始まるURLにする必要がある
DATABASE_URL=postgresql://postgres:password@localhost:5432/postgres

# SupabaseのDB URLを設定
# Direct connection to the database. Used for migrations
DIRECT_URL=postgres://postgres:password@localhost:5432/postgres

# Discord webhook URL for alert
DISCORD_WEBHOOK_URL=

# 一時的なフィーチャーフラグ
FEATURE_USER_ENABLED=false

# Seedで使うルート管理ユーザの認証情報
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Supabase設定
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_ANON_KEY=
