# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/settings.json
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# misc
.DS_Store
