name = "trend-diary"
compatibility_date = "2025-04-01"
compatibility_flags = [ "nodejs_compat" ]
main = "./src/worker.ts"
assets = { directory = "./build/client" }

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
head_sampling_rate = 1
persist = true
