name: Deploy Function

on:
  workflow_dispatch:
    inputs:
      functionName:
        description: "関数名"
        required: true
        type: choice
        options:
          - fetch_articles

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    name: deploy ${{ inputs.functionName }}
    steps:
      - uses: actions/checkout@v4

      - name: CLIの設定
        uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: デプロイ
        working-directory: application/supabase
        run: supabase functions deploy ${{ inputs.functionName }} --project-ref $PROJECT_ID
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
          PROJECT_ID: ${{ vars.SUPABASE_PROJECT_ID }}
