name: Functions CI

on:
  push:
    branches:
      - main
    paths:
      - 'supabase/**'
      - '.github/workflows/functions_ci.yaml'
  pull_request:
    branches:
      - main
    paths:
      - 'supabase/**'
      - '.github/workflows/functions_ci.yaml'

permissions:
  contents: read
  pull-requests: write

env:
  DENO_VERSION: 2.3.1
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Denoの構築
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ env.DENO_VERSION }}
      - name: Lint
        run: deno lint -c supabase/style_config.json

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Denoの構築
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ env.DENO_VERSION }}
      - name: Format
        run: deno fmt --check -c supabase/style_config.json

  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Denoの構築
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ env.DENO_VERSION }}
      - name: Type Check
        # deno checkのファイル指定で`**`を使うと、サブディレクトリのファイルがチェックされなくなるため、全部のディレクトリを手動でそれぞれ指定する
        # deno checkはdeno.jsonのある環境でしか実行できないため、各関数のdeno.jsonを指定する
        run: |
          for function_name in $(ls supabase/functions); do
            find supabase -name "*.ts" | xargs deno check -c supabase/functions/$function_name/deno.json
          done

  test:
    needs: [lint, format, type-check]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Denoの構築
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ env.DENO_VERSION }}

      - name: Node.jsの構築(DBのマイグレーション用)
        uses: ./.github/actions/setup_node
        with:
          node-version-file: .node-version

      - name: Supabaseのセットアップ
        uses: ./.github/actions/setup_supabase

      - name: DBのマイグレーション
        run: npm run db:migrate
        env:
          DIRECT_URL: ${{ env.DB_URL }}
          DATABASE_URL: ${{ env.DB_URL }}

      - name: Deno testの実行
        env:
          SUPABASE_URL: ${{ env.SUPABASE_URL }}
          SUPABASE_ANON_KEY: ${{ env.SUPABASE_ANON_KEY }}
          NO_COLOR: true

        # deno testはdeno.jsonのある環境でしか実行できないため、各関数のディレクトリで実行する
        run: |
          for function_name in $(ls supabase/functions); do
            # サブシェルで実行することで、cdの影響を局所化
            (
              cd supabase/functions/$function_name

              # deno testの実行
              deno test --allow-read --allow-env --allow-net --allow-write --allow-run -c deno.json --coverage=coverage
            )
          done
      - name: LCOV形式でカバレッジを出力
        env:
          NO_COLOR: true
        run: |
          for function_name in $(ls supabase/functions); do
            (
              cd supabase/functions/$function_name

              # LCOV形式でカバレッジを出力
              deno coverage ./coverage --lcov --output=coverage/lcov.info
            )
          done

      - name: octocovでカバレッジレポート生成
        uses: k1LoW/octocov-action@v1
        with:
          config: supabase/.octocov.yml
          github-token: ${{ secrets.GITHUB_TOKEN }}
