name: Lint

on: push

permissions:
  contents: read

# 共通の設定を定義
env:
  NODE_VERSION_FILE: .node-version
  BIOME_VERSION: 2.0.6

defaults:
  run:
    shell: bash
    working-directory: ./application

jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: ${{ env.BIOME_VERSION }}

      - name: Run Biome Lint
        run: biome lint .

  # 本来であれば、概念的にコンパイルはLint/Formatと同列ではないが、実行時間短縮のために並列実行にしている
  ts-compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Node.jsの構築
        uses: ./.github/actions/setup_node
        with:
          node-version-file: ${{ env.NODE_VERSION_FILE }}

      - name: TypeScript型チェック
        run: npm run typecheck

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Node.jsの構築
        uses: ./.github/actions/setup_node
        with:
          node-version-file: ${{ env.NODE_VERSION_FILE }}

      - name: Prismaクライアント生成
        run: npx prisma generate

      - name: ビルド
        run: npm run build

  auto-format:
    runs-on: ubuntu-latest
    needs: code-quality
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          # git pushするためにはtokenが必要
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: ${{ env.BIOME_VERSION }}

      - name: Check format
        id: check
        # formatのチェックが失敗してもジョブを続行
        continue-on-error: true
        working-directory: ./application
        run: biome format --diagnostic-level=error .

      - name: Run format
        # チェックが失敗した場合のみフォーマットを実行
        if: steps.check.outcome == 'failure'
        working-directory: ./application
        run: biome format --write .

      - name: Commit and push changes
        # チェックが失敗していた場合のみコミット＆プッシュ
        if: steps.check.outcome == 'failure'
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "style: auto format by biome

          https://claude.ai/code/session_014NDYRTho6EyUEQvLJVYqAi"
          git push
